
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-wal
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-shm
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide
.vs/Plagiarism-Checker/v16/Server/sqlite3/db.lock
.vs/Plagiarism-Checker/v16/.suo
.vs/Plagiarism-Checker/DesignTimeBuild/.dtbcache
.vs/Plagiarism-Checker/config/applicationhost.config
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-shm
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-wal
Plagiarism-Checker/obj/Debug/netcoreapp2.2/Plagiarism-Checker.assets.cache
Plagiarism-Checker/obj/Debug/netcoreapp2.2/Plagiarism-Checker.csprojAssemblyReference.cache
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-shm
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-wal
Plagiarism-Checker/obj/Debug/netcoreapp2.2/Plagiarism-Checker.csprojAssemblyReference.cache
Plagiarism-Checker/obj/Plagiarism-Checker.csproj.nuget.cache
Plagiarism-Checker/obj/Plagiarism-Checker.csproj.nuget.dgspec.json
Plagiarism-Checker/obj/Plagiarism-Checker.csproj.nuget.g.props
Plagiarism-Checker/obj/project.assets.json
