
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-wal
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide-shm
.vs/Plagiarism-Checker/v16/Server/sqlite3/storage.ide
.vs/Plagiarism-Checker/v16/Server/sqlite3/db.lock
.vs/Plagiarism-Checker/v16/.suo
.vs/Plagiarism-Checker/DesignTimeBuild/.dtbcache
.vs/Plagiarism-Checker/config/applicationhost.config
