
@{
    ViewData["Title"] = "Thank You!";
}

<h2 style="font-weight: bolder; color: #ffffff; font-size:35px;">ДЯКУЄМО! </h2>
<p style="color: #949494;">
    ВІТАЄМО ВАС В СЕРЕДОВИЩІ ОНЛАЙН-ОСВІТИ
</p>
<p style="font-weight: bold; color: #e7e7e7; font-size:26px;">
     Запит надіслано, будь ласка, очікуйте повідомлення про підтвердження реєстрації.
</p>
